<template>
  <div class="flex max-w-fit items-center gap-2">
    <input
      v-bind="$attrs"
      :value="value"
      @input="updateModelValue"
      name="hours-old"
      id="hours-old"
      @keydown="isNumber"
      placeholder="7"
      ref="inputRef"
      class="focus-visible inline-block h-8 w-[72px] rounded-md border px-2 py-1 outline-0 before:text-gray-500 focus-visible:border-violet-500"
    />
    <span class="invisible absolute min-w-[72px] max-w-lg px-4" ref="spanRef">
      {{ formattedModelValue }}
    </span>
    <slot name="text">hours old</slot>
  </div>
</template>

<script setup lang="ts">
import { ref, nextTick, computed } from 'vue'

defineOptions({
  inheritAttrs: false,
})

const emit = defineEmits(['update:modelValue'])
const props = defineProps(['modelValue'])

const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})

const formattedModelValue = ref()
const inputRef = ref()
const spanRef = ref()

const updateModelValue = (event: Event) => {
  formattedModelValue.value = (event.target as HTMLInputElement)?.value.replace(/[^0-9]/g, '')

  if (formattedModelValue.value) {
    formattedModelValue.value = new Intl.NumberFormat('fr-FR').format(
      formattedModelValue.value
    )
  }

  nextTick(() => {
    if (!formattedModelValue.value) {
      inputRef.value.style.width = `72px`
    } else if (spanRef.value?.scrollWidth! < 360) {
      inputRef.value.style.width = `${spanRef.value?.scrollWidth || 0}px`
    }
  })

  emit('update:modelValue', formattedModelValue.value)
}

const isNumber = (event: KeyboardEvent) => {
  if (event.key.length === 1 && isNaN(Number(event.key))) {
    event.preventDefault()
  }
}
</script>
