<template>
  <div class="mx-auto max-w-lg py-20">
    <div class="group flex items-center gap-2">
      <div
        class="h-14 w-14 rounded-full border border-transparent p-0.5 group-focus-within:border-indigo-700"
      >
        <div class="h-full w-full overflow-hidden rounded-full">
          <img
            :src="
              student.image ||
              'https://images.unsplash.com/photo-1533738363-b7f9aef128ce?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2F0JTIwd2l0aCUyMGdsYXNzZXN8ZW58MHx8MHx8fDA%3D'
            "
            class="object-contain"
          />
        </div>
      </div>
      <div>
        <label
          for="hours-old"
          class="font-barlow font-semibold uppercase group-focus-within:text-indigo-700"
        >
          {{ student.name }} is
        </label>
        <MyInput v-model="student.age" />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive } from 'vue'
import MyInput from '@/components/MyInput.vue'

const student = reactive<{
  name: string
  age: number | null
  image: string | null
}>({
  name: 'Samuel',
  age: null,
  image: null,
})
</script>

<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
</style>
